<div class="col-lg-10 profile-details">
    <div class="row align-items-center">
      <img class="col-3 rounded-circle" src=<%= profile.picLink %> >
      <div class="col-6">
        <p><strong>User Name</strong>: <%= profile.userName %></p>
        <div class="row">
          <a href="/profile/user/<%= profile.id %>" class="col-6">Posts:</a>
          <a href="/profile/followers/<%= profile.id %>" class="col-6">Followers:</a>
        </div>
      </div>
      <div class="col-3 ">
        <%if(user && profile.id === user.id) {%>
          <a href="/logout" class="btn btn-primary">edit profile</a>
        <%} else if (user){%>
          <form class="col-1" action="/profile/follow/<%= profile.id %>?_method=POST" method="POST">
          <button class="btn btn-primary fa fa-heart" type="submit">Follow</button>
        </form>
        <%} else {%>
          <p> </p>
        <%}%>

        <a href="/profile/following/<%= profile.id %>" class="col-3 d-block">Following:</a>
      </div>
    </div>
    <div class="row">
      <p class="col-sm-10 offset-sm-1 mt-4"><%= profile.bio %></p>
    </div>
</div>