<div class="row">
<div class="col-lg-10 offset-lg-1 profile-details my-3">
    <div class="align-items-center d-flex img-row">
      <img class="rounded-circle flex-shrink-1" src=<%= profile.picLink %> >
      <p class="flex-grow-1 mb-0 user-name text-center"><strong><%= profile.userName %></strong></p>
      <div class="flex-shrink-1">
        <%if(user && profile.id === user.id) {%>
          <a href="/profile/settings" class="btn btn-primary">edit profile</a>
        <%} else {%>
          <form class="" action="/profile/follow/<%= profile.id %>?_method=POST" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit">Follow</button>
          </form>
        <%}%>



      </div>
    </div>
    <div class="row">
      <p class="col-sm-10 offset-sm-1 mt-4"><%= profile.bio %></p>
    </div>
    <div class="row text-center">
      <div class="col-4">
        <a href="/profile/user/<%= profile.id %>" class="btn btn-primary">Posts</a>
      </div>
      <div class="col-4">
        <a href="/profile/followers/<%= profile.id %>" class="btn btn-primary">Followers</a>
      </div>
      <div class="col-4">
        <a href="/profile/following/<%= profile.id %>" class="btn btn-primary">Following</a>
      </div>
    </div>
</div>
</div>