<%- include('partials/header') -%>
  <div class="container-fluid">
    <div class="row mt-5">
      <%- include('partials/sidebar') -%>
      <div class="col-md-10 row justify-content-center">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6 justify-content-between">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
            </li>
          <% } %>
          </ul>
      </div>

    </div>
  </div>  
<%- include('partials/footer') -%>