<%- include('partials/header') -%>
<div class="container-fluid profile">
  <div class="row justify-content-center mt-5">
    <%- include('partials/sidebar') -%>
    <div class="col-10 content">
      <%- include('partials/profile-details') -%>
      <%- include('partials/profile-following') -%>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>