<%- include('partials/header') -%>
<main class="container-fluid profile">
  <div class="row justify-content-center pt-3">
    <%- include('partials/sidebar') -%>
    <div class="col-md-10 offset-md-2 content">
      <%- include('partials/profile-details') -%>
      <%- include('partials/profile-settings') -%>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>