<%- include('partials/header') -%>
<main class="container-fluid profile">
  <div class="row justify-content-center pt-3">
    <%- include('partials/sidebar') -%>
    <div class="col-md-10 offset-md-2 content">
      <%- include('partials/profile-details') -%>
      <%if(user && profile.id === user.id){ %>

        <div class="row my-4">
          <button class="btn btn-primary col-sm-6 offset-sm-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add a post</button>
        </div>
        
        <div id="collapseExample" class="col-lg-10 my-3 collapse blur-background border border-secondary px-3 py-3">
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      <%}%>
      <%- include('partials/profile-posts') -%>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>